<div class="analytics-sticky">
    <div class="analytics-card warning-card">
        <div class="warning-content">
            <p class="warning-text">⚠️ Если не видите графики — отключите блокировщик рекламы для этого сайта.</p>
        </div>
    </div>

    {% for item in left_banners %}
        <div class="analytics-card">
            {% if item.image %}
                <a href="{{ item.image.url }}"
                data-fancybox="gallery"
                data-caption="{{ item.title|default:'График' }}"
                onclick="fetch(`{% url 'banner_view' item.id %}`)">
                    <img src="{{ item.image.url }}" alt="{{ item.name }}" class="analytics-image">
                </a>
            {% endif %}

            {% if item.title %}
                <h4 class="analytics-title">{{ item.title }}</h4>
            {% endif %}

            {% if item.text %}
                <div class="{% if item.title %}analytics-text-container-with-title{% else %}analytics-text-container{% endif %}">
                    <p class="analytics-text">{{ item.text }}</p>
                </div>
            {% endif %}

            {% if item.url %}
                <div class="analytics-link-container">
                    <a href="{{ item.url }}" class="analytics-link" target="_blank" rel="noopener noreferrer">
                        Подробнее →
                    </a>
                </div>
            {% endif %}
        </div>
    {% empty %}
        <div class="analytics-placeholder">Аналитика скоро появится</div>
    {% endfor %}
</div>